# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/ruby/tags/
image: "ruby:2.5"

stages:
  - build
  - test

# Cache gems in between builds
cache:
  paths:
    - vendor/bundle

before_script:
  - ruby -v                                          # Print out ruby version for debugging
  - gem install bundler  --no-ri --no-rdoc           # Bundler is not installed with the image
  - bundle install -j $(nproc) --path vendor/bundle  # Install dependencies into ./vendor/bundle

build:
  stage: build
  script:
    - bundle exec rake compile
  artifacts:
    paths:
      - lib/native.so

test:
  stage: test
  script:
    - bundle exec rake test
  dependencies:
    - build
